@model ProjetoMVC.Models.Contato

@{
ViewData["Title"] = "Criar novo Contato";
}

<h1> Criar novo Contato</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Nome " class="control-label">Nome</label>
    </div>

</div>